<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserMapper接口方法提供sql语句配置 -->
<mapper namespace="com.aishang.dao.OrdersMapper">
    <!--查询省-->
    <select id="findUserAddr" parameterType="Integer" resultType="cities">
 select * from cities where parent_area_code=#{parent_area_code}
</select>
    <select id="findUserCity" parameterType="Integer" resultType="cities">
 select * from cities where parent_area_code=#{parent_area_code}
</select>
    <update id="updateAddr" parameterType="User" >
update user set addr=#{addr}, name=#{name},phone=#{phone}, code=#{code} where uid=#{uid}
    </update>
    <select id="findUserByUid" parameterType="Integer" resultType="User">
select * from user where uid=#{uid}
    </select>
</mapper>