<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.aishang.dao.ProductMapper">
    <resultMap id="productExtMap" type="ProductExt">
        <!--封装Product-->
        <id column="pid" property="pid"/><!--1.数据库字段2.po类里的字段 -->
        <result column="pname" property="pname"/>
        <result column="market_price" property="market_price"/>
        <result column="shop_price" property="shop_price"/>
        <result column="pdesc" property="pdesc"/>
        <result column="pdate" property="pdate"/>
        <result column="csid" property="csid"/>
        <result column="pstate" property="pstate"/>

        <collection property="categories" ofType="categoryExt">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
            <result column="cstate" property="cstate"/>
            <!-- collection用于对多 -->
            <collection property="categorysSeconds" ofType="categorySecond">
                <id column="csid" property="csid"/><!--1.数据库字段2.po类里的字段 -->
                <result column="csname" property="csname"/>
                <result column="cid" property="cid"/>
                <result column="csstate" property="csstate"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findAllProduct" resultMap="productExtMap" parameterType="int">
     SELECT *
     FROM category
     RIGHT JOIN categorysecond
     ON category.cid = categorysecond.cid
     RIGHT JOIN product
     ON categorysecond.csid= product.csid
     WHERE category.cid=#{cid}

    </select>

    <!--点击二级类目显示所有商品-->
    <select id="findSencondProduct" resultMap="productExtMap" parameterType="int">
            SELECT *
            FROM categorysecond
            LEFT JOIN product
            ON categorysecond.csid = product.csid
            WHERE categorysecond.csid=#{csid}
        </select>
    <!--在搜索框搜索商品-->

</mapper>




