<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserMapper接口方法提供sql语句配置 -->
<mapper namespace="com.aishang.dao.UserMapper">
   <!--往user表里添加用户信息的方法-->
    <insert id="addUser" parameterType="User">
        INSERT  INTO user VALUES (DEFAULT ,#{username},#{password},#{name},#{email},#{phone},#{addr},#{satate},#{code});
    </insert>
    <!--根据用户名查询user表里是否有这个用户为AXAJ做准备-->
    <select id="findUserByName" parameterType="String" resultType="User">
        SELECT COUNT (*) FROM user WHERE username= #{username}
    </select>
    <!--根据查询user表验证是否存在这个用户用于登录验证-->
    <select id="findUser" parameterType="User" resultType="User">
        SELECT COUNT (*) FROM user WHERE username= #{username} and password=#{password}
    </select>
</mapper>